// Break points
$grid-breakpoint-xs: 0;
$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;
$grid-breakpoint-xxl: 1400px;

// Colors
$white: #ffffff;
$black-transparent: rgba(0, 0, 0, 0.15);
$black-more-transparent: rgba(0, 0, 0, 0.3);
$brown: #1a1a1a;
$grey: #707070;
$black: #000000;
$red: #ff0037;
$green: #00735e;
$blue: #0077b6;
